@import "@/sass/variables/colors";

.api-container {
  position: relative;
  width: 100vw;
  height: 50vh;
  top: 50px;
  display: flex;
  flex-flow: column;
  
  .info-field {
    margin: 1rem 1rem 0 1rem
  }
  
  .api-form-container {
    display: flex;
    position: relative;
  }

  @media screen and (max-width: 500px) {
    .api-form-container {
      flex-flow: column;
    }
  }

  form {
    display: flex;
    margin: 1rem;
    flex-flow: column;
  }

  .response-data-field::-webkit-scrollbar {
    display: none;
  }

  .api-item {
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .api-item.flex-row {
    flex-flow: row;
  }

  .api-item-image {
    margin: 1rem;
    height: 50vh;
  }

  .response-data-field {
    
    height: 500px;
    margin: 1rem;
    overflow-y: scroll;


    .api-item-description-header {
      color: $dark-secondary;
      margin-bottom: 0;
      padding-bottom: 0;
      font-weight: bolder;
    }

    .api-item-description-header::after {
      content: ":";
    }

    .api-item-description{
      margin: 0;
      padding: 0;
    }

    .api-item-attribute {
      .api-item-key {
        color: $dark-primary;
        font-weight: bolder;
      }

      .api-item-key::after {
        content: ":";
      }
    }

  }
}