    $dark-primary: rgb(153, 84, 243);
    $dark-secondary: rgb(81, 206, 179);
    $dark-link: rgb(182, 100, 182);
    $dark-link-hover: rgb(228, 76, 228);



    $light-primary: rgb(153, 84, 243);
    $light-link: rgb(182, 100, 182);
    $light-link-hover: rgb(228, 76, 228);